*,
*::before,
*::after {
    box-sizing: inherit;
}

:where(p, span, a, h1, h2, h3, li, sub, sup, summary, code, pre, label, legend, button, input)::selection {
    background-color: hsl(var(--color-blue), 0.30);
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;

    color: hsl(var(--color-tx1));
    background-color: hsl(var(--color-bg1));

    font-family: Inter, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

.sans-serif {
    font-size: inherit;
    font-family: Inter, sans-serif;
}

.serif, .TeX {
    font-size: inherit;
    font-family: serif;
}

.monospace, code, pre, .number {
    font-size: inherit;
    font-family: monospace;
}

code, pre {
    font-size: 0.875em;
}

@counter-style code-line {
    system: numeric;
    symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
    pad: 3 "0";
}

pre {
    margin: 0;

    counter-reset: code-line;

    code {
        display: inline-grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 1em;

        white-space: pre-wrap;
        counter-increment: code-line;

        &::before {
            content: counter(code-line, code-line);
        }
    }
}

input {
    appearance: none;

    &:where([type="email"],[type="password"],[type="text"]) {
        border: hsl(var(--color-ui1)) solid 0.25em;
        padding: 0.25em;

        color: hsl(var(--color-tx1));
        background-color: hsl(var(--color-bg2));
        field-sizing: content;
    }

    &:where([type="checkbox"]) {
        display: inline-flex;

        margin: 0;
        border: hsl(var(--color-ui1)) solid 0.125em;
        inline-size: 1em;
        block-size: 1em;

        background-color: hsl(var(--color-bg2));

        align-items: center;
        justify-content: center;

        &::after {
            content: "";

            inline-size: 0.375em;
            block-size: 0.375em;
        }

        &:checked {
            border-color: hsl(var(--color-blue));

            &::after {
                background-color: hsl(var(--color-blue));
            }

            &:hover, &:active {
                border-color: hsl(var(--color-blue2));

                &::after {
                    background-color: hsl(var(--color-blue2));
                }
            }
        }
    }
}

button {
    appearance: none;

    border: hsl(var(--color-ui1)) solid 0.25em;
    padding: 0.5em;

    color: hsl(var(--color-tx1));
    background-color: hsl(var(--color-bg2));
}

details {
    border: hsl(var(--color-ui1)) solid 0.125em;

    color: hsl(var(--color-tx1));
    background-color: hsl(var(--color-bg2));

    summary {
        padding: 0.5em;
    }
}

a {
    color: hsl(var(--color-tx1));

    text-decoration: underline wavy hsl(var(--color-blue));
    text-decoration-skip-ink: none;

    &:hover {
        color: hsl(var(--color-blue));
    }

    &:active {
        color: hsl(var(--color-blue2));
    }

    &:visited {
        text-decoration-color: hsl(var(--color-purple));
    }
}

:where(input, button) {
    font-size: inherit;
    font-family: inherit;

    &:hover {
        border-color: hsl(var(--color-ui2));
    }

    &:active {
        border-color: hsl(var(--color-ui3));
    }
}

:where(input, button, a) {
    &:focus {
        outline: hsl(var(--color-blue)) double 0.125em;
    }

    &:focus-visible {
        outline-style: dashed;
    }
}

p {
    margin-block: 0;

    text-indent: 2.5rem;
}

ul {
    padding-inline-start: 2.5rem;
    margin-block: 1rem;

    li {
        position: relative;

        &::marker {
            content: "";
            display: none;
        }

        &::before {
            content: "◦";

            position: absolute;
            inset-block: 0;
            inset-inline-start: -1.75rem;
        }
    }
}

ol {
    padding-inline-start: 2.5rem;
    margin-block: 1rem;

    counter-reset: numbered-list;

    li {
        position: relative;

        counter-increment: numbered-list;

        &::marker {
            content: "";
            display: none;
        }

        &::before {
            content: counter(numbered-list, decimal) ".";

            position: absolute;
            inset-block: 0;
            inset-inline-start: -1.75rem;
        }
    }
}
