:root {
    --color-base-black: 0deg, 3.23%, 6.08%;
    --color-base-950: 30.0deg, 3.7%, 10.6%;
    --color-base-900: 30.0deg, 2.6%, 15.3%;
    --color-base-850: 40.0deg, 3.0%, 19.8%;
    --color-base-800: 30.0deg, 3.2%, 24.3%;
    --color-base-200: 54.5deg, 10.1%, 78.6%;
    --color-base-150: 50.0deg, 14.0%, 83.1%;
    --color-base-100: 50.8deg, 20.6%, 87.6%;
    --color-base-50: 50.8deg, 33.3%, 92.4%;
    --color-base-paper: 48deg, 100%, 97.06%;

    --color-blue-600: 212.2deg, 67.7%, 38.8%;
    --color-blue-400: 207.8deg, 48.6%, 50.4%;

    --color-purple-600: 60, 81.82%, 43.14%;
    --color-purple-400: 250.54, 40.22%, 63.92%;

    --scheme-light-bg: var(--color-base-paper);
    --scheme-light-bg2: var(--color-base-50);

    --scheme-light-tx: var(--color-base-black);

    --scheme-light-ui: var(--color-base-100);
    --scheme-light-ui2: var(--color-base-150);
    --scheme-light-ui3: var(--color-base-200);

    --scheme-light-blue: var(--color-blue-600);
    --scheme-light-purple: var(--color-purple-600);

    --scheme-dark-bg: var(--color-base-black);
    --scheme-dark-bg2: var(--color-base-950);

    --scheme-dark-tx: var(--color-base-200);

    --scheme-dark-ui: var(--color-base-900);
    --scheme-dark-ui2: var(--color-base-850);
    --scheme-dark-ui3: var(--color-base-800);

    --scheme-dark-blue: var(--color-blue-400);
    --scheme-dark-purple: var(--color-purple-400);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg1: var(--scheme-light-bg);
        --color-bg2: var(--scheme-light-bg2);

        --color-tx1: var(--scheme-light-tx);

        --color-ui1: var(--scheme-light-ui);
        --color-ui2: var(--scheme-light-ui2);
        --color-ui3: var(--scheme-light-ui3);

        --color-blue: var(--scheme-light-blue);
        --color-purple: var(--scheme-light-purple);

        --color-blue2: var(--scheme-dark-blue);
        --color-purple2: var(--scheme-dark-purple);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg1: var(--scheme-dark-bg);
        --color-bg2: var(--scheme-dark-bg2);

        --color-tx1: var(--scheme-dark-tx);

        --color-ui1: var(--scheme-dark-ui);
        --color-ui2: var(--scheme-dark-ui2);
        --color-ui3: var(--scheme-dark-ui3);

        --color-blue: var(--scheme-dark-blue);
        --color-purple: var(--scheme-dark-purple);

        --color-blue2: var(--scheme-light-blue);
        --color-purple2: var(--scheme-light-purple);
    }
}
